.App {
  font-family: sans-serif;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.navLink {
  border-radius: 8px;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  background: #41684b;
  padding: 10px 12px;
}
.btn {
  border-radius: 8px;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  background: #404f94;
  padding: 10px 12px;
}

.mb-30 {
  margin-bottom: 30px;
}

ul {
  max-width: max-content;
  margin: auto;
}
